In [1]:
import pandas as pd
from pandas.tseries.offsets import DateOffset

In [2]:
IPO_df = pd.read_csv('raw_dataset/IPO_Listing_2019_2020.csv')
IPO_df.head()

,IPO_DATE,SYMBOL,COMPANY_NAME,IPO_PRICE,CURRENT_PRICE,PERCENTAGE_RETURN
0,2020-12-29,MRM,Medirom Healthcare,15.0,10.30,-0.3133
1,2020-12-24,VTAQ,Ventoux CCM Acquisition,10.0,9.89,-0.0110
2,2020-12-23,IKT,Inhibikase Therapeutics,10.0,6.21,-0.3790
3,2020-12-23,GBS,"GBS, Inc.",17.0,6.81,-0.5994
4,2020-12-23,HCAR,Healthcare Services Acquisition,10.0,9.85,-0.0155

In [3]:
IPO_df['IPO_DATE'] = pd.to_datetime(IPO_df['IPO_DATE'], format = '%Y-%m-%d')

In [4]:
IPO_df['IPO_DATE']

0     2020-12-29
1     2020-12-24
2     2020-12-23
3     2020-12-23
4     2020-12-23
         ...
705   2019-01-17
706   2019-01-09
707   2019-01-08
708   2019-01-08
709   2019-01-04
Name: IPO_DATE, Length: 710, dtype: datetime64[ns]

In [5]:
IPO_df['THREE_MTH_DATE'] = IPO_df['IPO_DATE'] + pd.DateOffset(months=3)

In [6]:
# Create a list of IPO symbols from the IPO_df
IPO_list = IPO_df['SYMBOL'].tolist()
IPO_list

['MRM',
 'VTAQ',
 'IKT',
 'GBS',
 'HCAR',
 'CFIV',
 'VII',
 'VHAQ',
 'ACKIT',
 'SVOK',
 'GFX',
 'MASS',
 'DUNE',
 'MTAC',
 'IIII',
 'MDWT',
 'SCOA',
 'COOL',
 'VIRI',
 'WISH',
 'UPST',
 'CCV',
 'SCPS',
 'BCAB',
 'WNW',
 'KINZ',
 'MRAC',
 'OCG',
 'BLUW',
 'ATA',
 'ABCL',
 'NBTX',
 'FDMT',
 'DWIN',
 'ROCC',
 'GLAQ',
 'MOTV',
 'EDTX',
 'SNRH',
 'GHVI',
 'TVAC',
 'CBAH',
 'VVOS',
 'CERT',
 'RMGB',
 'HYFM',
 'ABNB',
 'CTAQ',
 'PCPC',
 'NEBC',
 'DASH',
 'HMCO',
 'PUBM',
 'ALTU',
 'AI',
 'FLAC',
 'CND',
 'DDMX',
 'MUDS',
 'RAAC',
 'YQ',
 'SBTX',
 'SEER',
 'SGTX',
 'FTCV',
 'PTIC',
 'FPAC',
 'HTPA',
 'KNTE',
 'LOKB',
 'DCBO',
 'SPFR',
 'RSVA',
 'TACA',
 'CAP',
 'SGAM',
 'FRX',
 'SPRQ',
 'HFEN',
 'OZON',
 'SV',
 'VMAR',
 'GNPK',
 'VCVC',
 'TINV',
 'BREZ',
 'LSAQ',
 'ARBG',
 'MRVI',
 'CAS',
 'SHC',
 'KWAC',
 'OCA',
 'IIAC',
 'NGMS',
 'LNFA',
 'RTPZ',
 'TLS',
 'YSG',
 'OLMA',
 'JYAC',
 'CHFW',
 'PHIC',
 'DGNS',
 'PIPP',
 'OTRA',
 'ZNTE',
 'HAAC',
 'CFAC',
 'BWAC',
 'DMYI',
 'STIC',
 'NOAC',
 'TSIA',
 'ADOC',
 'DBDR',
 'NBA',
 'LU',
 'CONX',
 'SQZ',
 'JUPW',
 'BHSE',
 'AVIR',
 'ALGM',
 'LESL',
 'GLTO',
 'DSAC',
 'ROOT',
 'GATO',
 'BOAC',
 'ACIC',
 'AJAX',
 'BDSX',
 'ABST',
 'MAX',
 'MACU',
 'LUXA',
 'ATAC',
 'FHTX',
 'EUCR',
 'ACAC',
 'MCFE',
 'TEKK',
 'ABCM',
 'GHLD',
 'YSAC',
 'RICE',
 'CTAC',
 'BLSA',
 'HIGA',
 'SRSA',
 'MSP',
 'SPNV',
 'XPOA',
 'YGMZ',
 'LFTR',
 'DCRB',
 'GWAC',
 'HLXA',
 'HZON',
 'BTWN',
 'EAR',
 'TARS',
 'KRBP',
 'OPT',
 'PRAX',
 'TMPM',
 'ALGS',
 'TMTS',
 'EBC',
 'ARRY',
 'MNSO',
 'MOTN',
 'FVAM',
 'CDAK',
 'IPOD',
 'IPOE',
 'IPOF',
 'INTZ',
 'SPRB',
 'STTK',
 'KRON',
 'LCY',
 'IH',
 'PAIC',
 'FUBO',
 'AZYO',
 'NGAC',
 'MAAC',
 'EMPW',
 'SQFT',
 'PACE',
 'TPGY',
 'FMAC',
 'APSG',
 'IMNM',
 'AVAN',
 'ASAQ',
 'IACA',
 'SEAH',
 'ASO',
 'ONCR',
 'CCCC',
 'VGAC',
 'VYGG',
 'IMPX',
 'LXEH',
 'THRY',
 'AGC',
 'AVO',
 'IGAC',
 'LUNG',
 'RCHG',
 'BQ',
 'VSPR',
 'PLTR',
 'QELL',
 'CD',
 'ASAN',
 'YALA',
 'CLII',
 'FGNA',
 'ORPH',
 'AMST',
 'FTIV',
 'VACQ',
 'SYTA',
 'PRLD',
 'GLSI',
 'PMVP',
 'GRAY',
 'VIAO',
 'TSHA',
 'PDAC',
 'ACTC',
 'CRSR',
 'VIH',
 'GDRX',
 'LSF',
 'ASPL',
 'BSY',
 'FCAC',
 'PMVC',
 'CMPS',
 'AHAC',
 'U',
 'VTRU',
 'ATHA',
 'NMMC',
 'STWO',
 'DYN',
 'AMWL',
 'SUMO',
 'OACB',
 'PTVE',
 'RTP',
 'BNL',
 'EQD',
 'STEP',
 'SNOW',
 'ENPC',
 'MTCR',
 'FROG',
 'SBG',
 'OM',
 'SAII',
 'SNPR',
 'TWCT',
 'LEAP',
 'LSPD',
 'BSN',
 'SVAC',
 'PIAI',
 'NSH',
 'CRHC',
 'ITAC',
 'TWND',
 'CAPA',
 'INAQ',
 'BCTG',
 'CMLF',
 'PRFX',
 'AUVI',
 'HCDI',
 'GP',
 'XPEV',
 'BTAQ',
 'CFII',
 'FTOC',
 'CLA',
 'FST',
 'KYMR',
 'HZAC',
 'NNOX',
 'HRMY',
 'INBX',
 'BFT',
 'STPK',
 'FIII',
 'AONE',
 'NGA',
 'LCAP',
 'CVAC',
 'DGNR',
 'DMYD',
 'DCT',
 'NTST',
 'BEKE',
 'RBAC',
 'FAII',
 'KBNT',
 'FSDC',
 'VMAC',
 'ARYA',
 'CMPI',
 'FRLN',
 'IBEX',
 'KSMT',
 'GRSV',
 'AFIB',
 'RKT',
 'OSH',
 'RXT',
 'BOWX',
 'BIGC',
 'HOL',
 'GOAC',
 'YAC',
 'HSAQ',
 'VITL',
 'FTHM',
 'ETAC',
 'NHIC',
 'VSTA',
 'PRPB',
 'GOED',
 'CCIV',
 'LI',
 'ALVR',
 'VERX',
 'ACEV',
 'ITOS',
 'INZY',
 'ACND',
 'ANNX',
 'GRCY',
 'NRIX',
 'EDTK',
 'ERES',
 'MEG',
 'PSAC',
 'PSTH',
 'JAMF',
 'ALXO',
 'RNLX',
 'DFHT',
 'BLI',
 'PAND',
 'TIG',
 'RLAY',
 'GOCO',
 'MLAC',
 'DEH',
 'HPX',
 'AACQ',
 'NCNO',
 'PTK',
 'PSTX',
 'NKTX',
 'QH',
 'IVA',
 'BLCT',
 'TXAC',
 'RACA',
 'LMND',
 'CPSR',
 'ACCD',
 'PANA',
 'DNB',
 'GSAH',
 'ADTX',
 'API',
 'ACI',
 'FUSE',
 'KCAC',
 'PYPD',
 'EBON',
 'FUSN',
 'AKUS',
 'BRLI',
 'GTH',
 'NUZE',
 'RPTX',
 'PROG',
 'FMTX',
 'TREB',
 'RPRX',
 'BNR',
 'AZEK',
 'PCVX',
 'RNA',
 'GBIO',
 'LTRN',
 'UCL',
 'HEC',
 'VRM',
 'LEGN',
 'MCAC',
 'AMTI',
 'CALT',
 'FOUR',
 'ARYB',
 'DADA',
 'ZI',
 'WMG',
 'PLRX',
 'WPF',
 'NARI',
 'LGVW',
 'SLQT',
 'BMRG',
 'NOVS',
 'ADCT',
 'GIK',
 'JWS',
 'CLEU',
 'KC',
 'AYLA',
 'LOAK',
 'SOAC',
 'GAN',
 'ROCH',
 'CGRO',
 'LYRA',
 'FVAC',
 'IPOB',
 'ORIC',
 'PCPL',
 'CHAQ',
 'IPOC',
 'KROS',
 'ZNTL',
 'WIMI',
 'IMRA',
 'DFPH',
 'LSAC',
 'FEAC',
 'GFL',
 'PASG',
 'ZCMD',
 'DMYT',
 'ESSC',
 'CCXX',
 'NBAC',
 'MEDS',
 'ZGYH',
 'RVMD',
 'GRIL',
 'HUIZ',
 'CCAC',
 'GNRS',
 'PFHD',
 'ONEW',
 'NREF',
 'SDGR',
 'BEAM',
 'CSPR',
 'PPD',
 'ONEM',
 'REYN',
 'ARQT',
 'ANPC',
 'BDTX',
 'ANVS',
 'SCVX',
 'GHIV',
 'VEL',
 'IMAB',
 'LIZI',
 'DNK',
 'MKD',
 'MNPR',
 'INDO',
 'CIIC',
 'HCCO',
 'SPT',
 'OCFT',
 'BILL',
 'EH',
 'XP',
 'LIVK',
 'LMPX',
 'ALUS',
 'CHPM',
 'PINE',
 'PTAC',
 'SITM',
 'CAN',
 'SAQN',
 'AMHC',
 'GRNV',
 'YAYO',
 'ETNB',
 'SRAC',
 'KRKR',
 'JIH',
 'TELA',
 'CNSP',
 'MOHO',
 'CNTG',
 'DFNS',
 'GRTX',
 'SI',
 'MCMJ',
 'QK',
 'DUO',
 'FSRV',
 'SFTW',
 'RAPT',
 'OYST',
 'PHAT',
 'PGNY',
 'TFFP',
 'DAO',
 'AIH',
 'CABA',
 'HAPP',
 'BRP',
 'GLEO',
 'LATN',
 'IPHA',
 'BRBR',
 'VIR',
 'HBT',
 'BNTX',
 'VIE',
 'MCBS',
 'FREQ',
 'APRE',
 'PTON',
 'OPRT',
 'PING',
 'DDOG',
 'XGN',
 'IGMS',
 'NVST',
 'APXT',
 'SWTX',
 'NET',
 'STSA',
 'EXPC',
 'ALRS',
 'TXG',
 'SDC',
 'NPA',
 'JFU',
 'CFB',
 'PLIN',
 'THBR',
 'SSPK',
 'INMD',
 'HKIB',
 'ORSN',
 'KRUS',
 'SNDL',
 'DT',
 'NFIN',
 'BORR',
 'VIST',
 'CCX',
 'BHAT',
 'SBE',
 'WSG',
 'HCAT',
 'NOVA',
 'LVGO',
 'CSTL',
 'PROS',
 'EIC',
 'MDLA',
 'IFS',
 'AFYA',
 'PHR',
 'MIRM',
 'CPAA',
 'ORCC',
 'AMK',
 'OAC',
 'FULC',
 'IHRT',
 'DOYU',
 'SCPE',
 'PIC',
 'THCA',
 'RMBI',
 'KRTX',
 'REAL',
 'MORF',
 'ADPT',
 'CHNG',
 'BBIO',
 'LINX',
 'CMBM',
 'AKRO',
 'PSNL',
 'GO',
 'BCEL',
 'WORK',
 'PRVL',
 'SMMC',
 'STOK',
 'CHWY',
 'FVRR',
 'MWK',
 'CRWD',
 'RVLV',
 'HYAC',
 'GIX',
 'GSX',
 'BCYC',
 'RTLR',
 'IDYA',
 'GXGX',
 'FSLY',
 'AVTR',
 'LKNCY',
 'PSTL',
 'APLT',
 'AGBA',
 'SONM',
 'UBER',
 'JFIN',
 'MEC',
 'CRTX',
 'SPFI',
 'NXTC',
 'AXLA',
 'HHR',
 'PSN',
 'LCA',
 'TRVI',
 'TBBA',
 'SCPL',
 'YJ',
 'RRBI',
 'ATIF',
 'BYND',
 'SY',
 'TMDX',
 'WAFU',
 'HOOK',
 'PINS',
 'ZM',
 'GNLN',
 'MNRL',
 'PLMR',
 'TPTX',
 'BWAY',
 'JMIA',
 'TUFN',
 'PD',
 'GHSI',
 'SILK',
 'RPLA',
 'NGM',
 'TW',
 'RUHN',
 'PBTS',
 'LYFT',
 'PUYI',
 'DTIL',
 'JFK',
 'WTRE',
 'GNFT',
 'LEVI',
 'INSU',
 'TIGR',
 'TRNE',
 'FUTU',
 'CRSA',
 'SWAV',
 'THCB',
 'HCAC',
 'KLDO',
 'SHLL',
 'DPHC',
 'SLGG',
 'ACAM',
 'SOLY',
 'AREC',
 'MITO',
 'HOTH',
 'TCRR',
 'IMAC',
 'ANCN',
 'HARP',
 'RMG',
 'GOSS',
 'MNCL',
 'ALEC',
 'IPV',
 'INMB',
 'GMHI',
 'NFE',
 'ANDA',
 'RBKB',
 'BCOW',
 'MDJH',
 'MTC',
 'SXTC']

In [7]:
test_symbol = IPO_df['SYMBOL'][0]
test_symbol

'MRM'

In [8]:
IPO_df = IPO_df.set_index('SYMBOL')
IPO_df

,IPO_DATE,COMPANY_NAME,IPO_PRICE,CURRENT_PRICE,PERCENTAGE_RETURN,THREE_MTH_DATE
SYMBOL,,,,,,
MRM,2020-12-29,Medirom Healthcare,15.0,10.30,-0.3133,2021-03-29
VTAQ,2020-12-24,Ventoux CCM Acquisition,10.0,9.89,-0.0110,2021-03-24
IKT,2020-12-23,Inhibikase Therapeutics,10.0,6.21,-0.3790,2021-03-23
GBS,2020-12-23,"GBS, Inc.",17.0,6.81,-0.5994,2021-03-23
HCAR,2020-12-23,Healthcare Services Acquisition,10.0,9.85,-0.0155,2021-03-23
...,...,...,...,...,...,...
RBKB,2019-01-17,Rhinebeck Bancorp,10.0,10.49,0.0490,2019-04-17
BCOW,2019-01-09,1895 Bancorp of Wisconsin,10.0,14.94,0.4940,2019-04-09
MDJH,2019-01-08,MDJM Ltd.,5.0,4.25,-0.1500,2019-04-08
MTC,2019-01-08,"MMTec, Inc.",4.0,2.83,-0.2925,2019-04-08
SXTC,2019-01-04,China SXT Pharmaceuticals,4.0,2.03,-0.4925,2019-04-04

In [9]:
ticker_date = IPO_df['THREE_MTH_DATE'][test_symbol]
ticker_date

Timestamp('2021-03-29 00:00:00')

In [10]:
test_date = IPO_df['IPO_DATE'][0]
test_date

Timestamp('2020-12-29 00:00:00')

In [11]:
test_df = pd.read_csv(f'raw_dataset/daily_adjusted/{test_symbol}_daily_adjusted.csv')
test_df

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2021-03-19,10.1600,10.2467,10.1600,10.2467,10.2467,524,0.0,1.0
1,2021-03-18,10.8600,10.8600,10.3000,10.7400,10.7400,1664,0.0,1.0
2,2021-03-17,10.1100,10.8800,10.1100,10.7900,10.7900,1617,0.0,1.0
3,2021-03-16,10.4200,10.4200,10.0000,10.0300,10.0300,2457,0.0,1.0
4,2021-03-15,10.7600,10.8500,10.4000,10.6610,10.6610,2116,0.0,1.0
5,2021-03-12,11.5100,11.5100,10.4700,10.4700,10.4700,1687,0.0,1.0
6,2021-03-11,10.5000,10.6700,10.0000,10.3000,10.3000,2825,0.0,1.0
7,2021-03-10,10.2400,10.2400,10.0000,10.0000,10.0000,2038,0.0,1.0
8,2021-03-09,10.1250,10.7500,9.5000,9.6400,9.6400,10521,0.0,1.0
9,2021-03-08,9.6100,10.5600,9.5000,9.5600,9.5600,5139,0.0,1.0
10,2021-03-05,12.7500,12.7500,9.5000,9.7700,9.7700,35019,0.0,1.0
11,2021-03-04,11.6400,11.7498,8.7400,8.7500,8.7500,24129,0.0,1.0
12,2021-03-03,12.1700,12.1700,11.5001,11.6400,11.6400,10065,0.0,1.0
13,2021-03-02,12.4900,12.4900,12.3000,12.3000,12.3000,1376,0.0,1.0
14,2021-03-01,12.7700,12.7700,12.3000,12.4900,12.4900,3750,0.0,1.0
15,2021-02-26,12.6000,12.8900,12.3000,12.3100,12.3100,12260,0.0,1.0
16,2021-02-25,12.6000,13.0000,12.5800,12.5800,12.5800,6751,0.0,1.0
17,2021-02-24,12.6400,13.2700,12.5000,12.5600,12.5600,11044,0.0,1.0
18,2021-02-23,13.1000,13.1300,12.0001,12.3000,12.3000,28590,0.0,1.0
19,2021-02-22,14.2500,14.2500,13.1000,13.2800,13.2800,27918,0.0,1.0
20,2021-02-19,13.1100,13.7700,13.1000,13.1000,13.1000,9160,0.0,1.0
21,2021-02-18,13.5000,13.7000,13.1100,13.1100,13.1100,21061,0.0,1.0
22,2021-02-17,13.8000,13.8100,13.4000,13.4100,13.4100,13336,0.0,1.0
23,2021-02-16,13.7200,13.7400,13.5000,13.5000,13.5000,4054,0.0,1.0
24,2021-02-12,13.8000,13.8000,13.5000,13.5100,13.5100,9236,0.0,1.0
25,2021-02-11,14.3300,14.3300,13.3600,13.3600,13.3600,15452,0.0,1.0
26,2021-02-10,13.7000,14.8254,13.7000,13.8700,13.8700,60528,0.0,1.0
27,2021-02-09,13.9000,14.2600,13.7500,13.7600,13.7600,31705,0.0,1.0
28,2021-02-08,13.7000,13.9900,13.6600,13.8600,13.8600,18199,0.0,1.0
29,2021-02-05,13.8968,14.1901,13.7000,13.7100,13.7100,16156,0.0,1.0
30,2021-02-04,13.7200,13.8900,13.6900,13.7500,13.7500,3944,0.0,1.0
31,2021-02-03,14.0500,14.1300,13.5400,13.7200,13.7200,15316,0.0,1.0
32,2021-02-02,13.2000,14.4499,13.2000,14.3100,14.3100,68005,0.0,1.0
33,2021-02-01,14.2800,14.3000,12.6500,13.2300,13.2300,50717,0.0,1.0
34,2021-01-29,15.1300,15.1700,13.6601,14.3630,14.3630,66854,0.0,1.0
35,2021-01-28,14.3200,17.5000,14.0276,15.2400,15.2400,515874,0.0,1.0
36,2021-01-27,13.9100,14.2494,13.6500,14.0000,14.0000,45421,0.0,1.0
37,2021-01-26,13.5500,14.0999,13.5000,13.9200,13.9200,24355,0.0,1.0
38,2021-01-25,13.7800,14.2000,13.5372,13.7000,13.7000,46162,0.0,1.0
39,2021-01-22,13.8000,14.0499,13.2000,13.7700,13.7700,28553,0.0,1.0
40,2021-01-21,15.5600,15.5600,13.6200,13.7600,13.7600,102475,0.0,1.0
41,2021-01-20,13.2200,15.5000,12.9000,15.3600,15.3600,348537,0.0,1.0
42,2021-01-19,13.5200,14.0000,12.7000,13.5100,13.5100,53489,0.0,1.0
43,2021-01-15,14.0000,14.2190,13.1500,13.3750,13.3750,49833,0.0,1.0
44,2021-01-14,14.3100,14.5987,13.4498,14.0050,14.0050,114199,0.0,1.0
45,2021-01-13,15.0000,15.1000,14.1201,14.2646,14.2646,84187,0.0,1.0
46,2021-01-12,15.6400,15.6400,14.3000,15.0020,15.0020,119456,0.0,1.0
47,2021-01-11,16.3100,17.1950,15.1000,15.4950,15.4950,161640,0.0,1.0
48,2021-01-08,14.8900,19.4500,14.8900,17.3400,17.3400,1177178,0.0,1.0
49,2021-01-07,14.2000,14.7441,14.1500,14.6100,14.6100,113404,0.0,1.0
50,2021-01-06,14.3500,14.5000,14.0000,14.0000,14.0000,48817,0.0,1.0
51,2021-01-05,14.1000,14.5000,14.0000,14.3500,14.3500,106015,0.0,1.0
52,2021-01-04,14.6200,14.8000,14.0000,14.2000,14.2000,97541,0.0,1.0
53,2020-12-31,14.5000,14.8235,13.6200,14.4000,14.4000,72956,0.0,1.0
54,2020-12-30,15.0500,15.0500,13.8200,14.8500,14.8500,283666,0.0,1.0
55,2020-12-29,19.8000,19.8000,14.0300,15.1100,15.1100,677226,0.0,1.0

In [12]:
test_df['timestamp'] = pd.to_datetime(test_df['timestamp'], format = '%Y-%m-%d')
test_df.dtypes

timestamp            datetime64[ns]
open                        float64
high                        float64
low                         float64
close                       float64
adjusted_close              float64
volume                        int64
dividend_amount             float64
split_coefficient           float64
dtype: object

In [13]:
test_df['timestamp'][0]

Timestamp('2021-03-19 00:00:00')

In [14]:
test_df = test_df.set_index('timestamp')
test_df

,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
timestamp,,,,,,,,
2021-03-19,10.1600,10.2467,10.1600,10.2467,10.2467,524,0.0,1.0
2021-03-18,10.8600,10.8600,10.3000,10.7400,10.7400,1664,0.0,1.0
2021-03-17,10.1100,10.8800,10.1100,10.7900,10.7900,1617,0.0,1.0
2021-03-16,10.4200,10.4200,10.0000,10.0300,10.0300,2457,0.0,1.0
2021-03-15,10.7600,10.8500,10.4000,10.6610,10.6610,2116,0.0,1.0
2021-03-12,11.5100,11.5100,10.4700,10.4700,10.4700,1687,0.0,1.0
2021-03-11,10.5000,10.6700,10.0000,10.3000,10.3000,2825,0.0,1.0
2021-03-10,10.2400,10.2400,10.0000,10.0000,10.0000,2038,0.0,1.0
2021-03-09,10.1250,10.7500,9.5000,9.6400,9.6400,10521,0.0,1.0
2021-03-08,9.6100,10.5600,9.5000,9.5600,9.5600,5139,0.0,1.0
2021-03-05,12.7500,12.7500,9.5000,9.7700,9.7700,35019,0.0,1.0
2021-03-04,11.6400,11.7498,8.7400,8.7500,8.7500,24129,0.0,1.0
2021-03-03,12.1700,12.1700,11.5001,11.6400,11.6400,10065,0.0,1.0
2021-03-02,12.4900,12.4900,12.3000,12.3000,12.3000,1376,0.0,1.0
2021-03-01,12.7700,12.7700,12.3000,12.4900,12.4900,3750,0.0,1.0
2021-02-26,12.6000,12.8900,12.3000,12.3100,12.3100,12260,0.0,1.0
2021-02-25,12.6000,13.0000,12.5800,12.5800,12.5800,6751,0.0,1.0
2021-02-24,12.6400,13.2700,12.5000,12.5600,12.5600,11044,0.0,1.0
2021-02-23,13.1000,13.1300,12.0001,12.3000,12.3000,28590,0.0,1.0
2021-02-22,14.2500,14.2500,13.1000,13.2800,13.2800,27918,0.0,1.0
2021-02-19,13.1100,13.7700,13.1000,13.1000,13.1000,9160,0.0,1.0
2021-02-18,13.5000,13.7000,13.1100,13.1100,13.1100,21061,0.0,1.0
2021-02-17,13.8000,13.8100,13.4000,13.4100,13.4100,13336,0.0,1.0
2021-02-16,13.7200,13.7400,13.5000,13.5000,13.5000,4054,0.0,1.0
2021-02-12,13.8000,13.8000,13.5000,13.5100,13.5100,9236,0.0,1.0
2021-02-11,14.3300,14.3300,13.3600,13.3600,13.3600,15452,0.0,1.0
2021-02-10,13.7000,14.8254,13.7000,13.8700,13.8700,60528,0.0,1.0
2021-02-09,13.9000,14.2600,13.7500,13.7600,13.7600,31705,0.0,1.0
2021-02-08,13.7000,13.9900,13.6600,13.8600,13.8600,18199,0.0,1.0
2021-02-05,13.8968,14.1901,13.7000,13.7100,13.7100,16156,0.0,1.0
2021-02-04,13.7200,13.8900,13.6900,13.7500,13.7500,3944,0.0,1.0
2021-02-03,14.0500,14.1300,13.5400,13.7200,13.7200,15316,0.0,1.0
2021-02-02,13.2000,14.4499,13.2000,14.3100,14.3100,68005,0.0,1.0
2021-02-01,14.2800,14.3000,12.6500,13.2300,13.2300,50717,0.0,1.0
2021-01-29,15.1300,15.1700,13.6601,14.3630,14.3630,66854,0.0,1.0
2021-01-28,14.3200,17.5000,14.0276,15.2400,15.2400,515874,0.0,1.0
2021-01-27,13.9100,14.2494,13.6500,14.0000,14.0000,45421,0.0,1.0
2021-01-26,13.5500,14.0999,13.5000,13.9200,13.9200,24355,0.0,1.0
2021-01-25,13.7800,14.2000,13.5372,13.7000,13.7000,46162,0.0,1.0
2021-01-22,13.8000,14.0499,13.2000,13.7700,13.7700,28553,0.0,1.0
2021-01-21,15.5600,15.5600,13.6200,13.7600,13.7600,102475,0.0,1.0
2021-01-20,13.2200,15.5000,12.9000,15.3600,15.3600,348537,0.0,1.0
2021-01-19,13.5200,14.0000,12.7000,13.5100,13.5100,53489,0.0,1.0
2021-01-15,14.0000,14.2190,13.1500,13.3750,13.3750,49833,0.0,1.0
2021-01-14,14.3100,14.5987,13.4498,14.0050,14.0050,114199,0.0,1.0
2021-01-13,15.0000,15.1000,14.1201,14.2646,14.2646,84187,0.0,1.0
2021-01-12,15.6400,15.6400,14.3000,15.0020,15.0020,119456,0.0,1.0
2021-01-11,16.3100,17.1950,15.1000,15.4950,15.4950,161640,0.0,1.0
2021-01-08,14.8900,19.4500,14.8900,17.3400,17.3400,1177178,0.0,1.0
2021-01-07,14.2000,14.7441,14.1500,14.6100,14.6100,113404,0.0,1.0
2021-01-06,14.3500,14.5000,14.0000,14.0000,14.0000,48817,0.0,1.0
2021-01-05,14.1000,14.5000,14.0000,14.3500,14.3500,106015,0.0,1.0
2021-01-04,14.6200,14.8000,14.0000,14.2000,14.2000,97541,0.0,1.0
2020-12-31,14.5000,14.8235,13.6200,14.4000,14.4000,72956,0.0,1.0
2020-12-30,15.0500,15.0500,13.8200,14.8500,14.8500,283666,0.0,1.0
2020-12-29,19.8000,19.8000,14.0300,15.1100,15.1100,677226,0.0,1.0

In [15]:
# Changed ticker date from datetime back to an object to use get_loc method
# Used a test date because the first three_mth_date is not available
index_test = test_df.index.get_loc(test_date.strftime('%Y-%m-%d'))
index_test.item()

55

In [16]:
return_value = test_df['close'][index_test.item()]
return_value

15.11

In [17]:
IPO_df['THREE_MTH_RETURN'] = '0'

In [18]:
for symbol in IPO_list:
    complete_file_name = f'raw_dataset/daily_adjusted/{symbol}_daily_adjusted.csv'
    ticker_df = pd.read_csv(complete_file_name)
    try:
        ticker_df['timestamp'] = pd.to_datetime(ticker_df['timestamp'], format = '%Y-%m-%d')
        ticker_df = ticker_df.set_index('timestamp')
        ticker_date = IPO_df['THREE_MTH_DATE'][symbol]
        index_ticker = ticker_df.index.get_loc(ticker_date.strftime('%Y-%m-%d'))
        three_mth_return_value = ticker_df['close'][index_ticker.item()]
        IPO_df.THREE_MTH_RETURN.loc[symbol] = three_mth_return_value
    except:
        pass

C:\Users\death\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
IPO_df.rename(columns={'NAME':'COMPANY_NAME', 'CURRENT':'CURRENT_PRICE','RETURN':'PERCENTAGE_RETURN'}, inplace=True)

In [20]:
# Export to csv file
IPO_df.to_csv('raw_dataset/three_month_return.csv')